html,
body {
  float: right;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: inherit;
}

body::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(22, 25, 202, 0.3); */
  box-shadow: inset 0 0 5px grey;
  /* border-radius: 10px; */
}

body::-webkit-scrollbar-thumb {
  /* background-color: #2e3191;
  outline: 1px solid #2e3191; */
  background: #2e3191;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #595dd3;
}
html {
  font-family: "CenturyGothic", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}
h2,
h3,
h4 {
  font-family: "Century Gothic", sans-serif;
}
h2 {
  /* text-transform: uppercase; */
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  /* color: #333; */
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: #608dfd;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #608dfd;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}
/*-- Preloader --*/
.page-preloader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #2e3191;
  z-index: 100000;
  overflow: hidden;
}

.spinner {
  position: relative;
  top: 30%;
  margin: 100px auto;
  /* width: 50px;
  height: 40px; */
  text-align: center;
  /* font-size: 10px; */
  object-position: 50% 50%;
}
.spinner > img {
  height: 130px;
  text-align: center;
  object-position: 50% 50%;
}
.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
/* Navigation */
#menu {
  padding: 15px;
  transition: all 0.8s;
}
#menu.navbar-default {
  background-color: #2e3191;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

#menu a.navbar-brand {
  font-family: "CenturyGothic", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}
#menu.navbar-default .navbar-nav > li > a {
  font-family: "CenturyGothic", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 20px 0;
}
#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #e20909 0%, #f7f7f7 100%);
  content: "";
  transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #608dfd;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.section-title p {
  font-size: 18px;
}
.btn-custom {
  font-family: "CenturyGothic", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #5ca9fb;
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #6372ff;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* Header Section */
.intro {
  display: table;
  width: 100vw;
  /* height: 100vh; */
  padding: 0;
  /* background: url(../img/header.jpeg) center center no-repeat; */
  /* background-color: #e5e5e5; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /* float: right; */
}
.intro .overlay {
  /* background: rgba(0, 0, 0, 0.2); */
}
.intro h1 {
  font-family: "CenturyGothic", sans-serif;
  color: #fff;
  font-size: 82px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  position: absolute;
  z-index: 1;
}
.intro h1 span {
  font-weight: 800;
  color: #5ca9fb;
}
.intro p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
header .intro-text {
  padding-top: 350px;
  padding-bottom: 200px;
  text-align: center;
}
/* carousel */
.bg-img-1 {
  background-image: url(../img/header/microsoft_event.jpg);
  /* height: 100vh;
  width: 100vw; */
}
.bg-img-2 {
  background-image: url(../img/header/fortinet.jpg);
}
.bg-img-3 {
  background-image: url(../img/header/landor_plv.jpg);
}
.bg-img-4 {
  background-image: url(../img/header/teambuilding_5.jpg);
}
.bg-img-5 {
  background-image: url(../img/header/teatro_lolla.jpg);
}
.bg-img-6 {
  background-image: url(../img/header/cours_musique.jpg);
}
.carousel-image {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-indicators {
  bottom: -50px;
}
.carousel .carousel-indicators li {
  background-color: #2e3191;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
.carousel .carousel-indicators li.active {
  background-color: #ff0101;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

/* ubea hero */
#ubea-hero {
  min-height: 700px;
  background: #fff url(../images/loader.gif) no-repeat center center;
}
#ubea-hero .btn {
  font-size: 24px;
}
#ubea-hero .btn.btn-primary {
  padding: 14px 30px !important;
}
#ubea-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
#ubea-hero .flexslider .slides {
  position: relative;
  overflow: hidden;
}
#ubea-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  position: relative;
}
#ubea-hero .flexslider .slides li .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
#ubea-hero .flexslider .flex-control-nav {
  bottom: 40px;
  z-index: 1000;
}
#ubea-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
#ubea-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}
#ubea-hero .flexslider .flex-direction-nav {
  display: block;
}
#ubea-hero .flexslider .flex-direction-nav a {
  position: absolute;
  cursor: pointer;
  width: 45px;
  height: 45px;
}
#ubea-hero .flexslider .flex-direction-nav a:before {
  left: 0;
  top: 0;
  color: #fff !important;
  text-shadow: none !important;
  font-size: 40px;
  position: relative;
  z-index: 10;
}
#ubea-hero .flexslider .flex-direction-nav a.flex-prev {
  opacity: 1 !important;
  left: 40px !important;
}
#ubea-hero .flexslider .flex-direction-nav a.flex-prev:before {
  text-indent: 0px !important;
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e929";
}
#ubea-hero .flexslider .flex-direction-nav a.flex-next {
  right: 40px !important;
  opacity: 1 !important;
}
#ubea-hero .flexslider .flex-direction-nav a.flex-next:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0px !important;
  right: 0;
  content: "\e92a";
}
#ubea-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  min-height: 700px;
}
#ubea-hero .flexslider .slider-text > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  min-height: 700px;
}
#ubea-hero .flexslider .slider-text > .slider-text-inner h2 {
  font-size: 60px;
  font-weight: 300;
  color: #fff;
}
@media screen and (max-width: 768px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  #ubea-hero .flexslider .slider-text > .slider-text-inner h2 {
    font-size: 40px;
  }
}
#ubea-hero .flexslider .slider-text > .slider-text-inner .ubea-lead {
  font-size: 20px;
  color: #fff;
}
#ubea-hero
  .flexslider
  .slider-text
  > .slider-text-inner
  .ubea-lead
  .icon-heart {
  color: #d9534f;
}

/* Features Section */
#features {
  background: #f6f6f6;
}
#features i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
/* About Section */
#about {
  padding: 100px 0;
  background: url(../img/fond_website_3.jpeg) center center no-repeat;
  background-size: cover;
}
#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
}
#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: #2e3191;
}
#about h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}
#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}
#about .about-text li:before {
  content: "\f00c";
  font-family: "CenturyGothic", sans-serif;
  color: #5ca9fb;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
#about img {
  width: 520px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#about p {
  font-size: 15px;
  font-weight: 500;
  color: #2e3191;
  line-height: 30px;
  margin: 30px 28px;
  text-align: justify;
  font-weight: bold;
  background: #fff;
  padding: 10px;
  border-radius: 10%;
}
#about a,
a:active,
a:focus {
  outline: none;
  outline-style: none;
  outline-width: 0cap;
}
#playVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
/* video about */
.video-media {
  position: relative;
}
.video-media:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.video-media .play-button {
  position: absolute;
  display: block;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  width: 100%;
}
.video-media .play-button .icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  height: 50px;
  border-radius: 50%;
  background: #ee1e46;
  position: relative;
}
.video-media .play-button .icon:before {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  width: 60px;
  height: 60px;
  border: 2px solid #ee1e46;
  border-radius: 50%;
}
.video-media .play-button .icon > span {
  position: absolute;
  top: 50%;
  color: #fff;
  left: 55%;
  font-size: 18px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.video-media .play-button .meta {
  font-size: 12px;
}
.video-media .play-button .caption {
  width: 100%;
}
.video-media .play-button .caption h3 {
  line-height: 1;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

iframe:not([about="video"]) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}
@media (min-aspect-ratio: 16/9) {
  .video-container iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-container iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
  }
}
.playpause {
  background-image: url(../img/play-button.png);
  background-repeat: no-repeat;
  width: 25%;
  height: 25%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  background-size: contain;
  background-position: center;
}
/* Services Section */
#services {
  padding: 100px 0;
  /* background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%); */
  background: #2e3191;
  color: #fff;
}
#services .service-desc {
  margin: 10px 10px 20px;
}
#services h2 {
  color: #fff;
}
#services .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
#services i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  border-radius: 50%;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#services h3 {
  font-weight: 500;
  padding: 5px 0;
  color: #fff;
}
#services p {
  color: rgba(255, 255, 255, 0.75);
}
#services .service-desc {
  margin-bottom: 40px;
}
#services i.fa {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
#services i.fa:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
@media (max-width: 990px) {
  #services i.fa {
    margin: 20px;
  }
}
.service-logo {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
.service-logo:hover {
  transform: scale(0.9);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 4px 8px rgba(0, 0, 0, 0);
}
.modal-style {
  background: #2e3191;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  overflow: auto;
  max-height: 600px;
}
.modal-style-text {
  margin: 12px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-align: justify;
  line-height: 25px;
  line-break: 5px;
}
/* Procedures Section */
#procedures {
  padding: 100px 0;
  /* background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%); */
  background: #2e3191;
  color: #fff;
}
#procedures .procedure-desc {
  margin: 10px 10px 20px;
}
#procedures h2 {
  color: #fff;
}
#procedures .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
#procedures i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  border-radius: 50%;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#procedures h3 {
  font-weight: 500;
  padding: 5px 0;
  color: #fff;
}
#procedures p {
  color: rgba(255, 255, 255, 0.75);
}
#procedures .procedure-desc {
  margin-bottom: 40px;
}
#procedures i.fa {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
#procedures i.fa:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
@media (max-width: 990px) {
  #procedures i.fa {
    margin: 20px;
  }
}
/* Partners Section */
#partners {
  padding: 100px 0;
  background: url(../img/fond_website_3.jpeg) center center no-repeat;
  background-size: cover;
}

#partners h2 {
  color: #2e3191;
}

#partners .partner-logo {
  height: 150px;
  margin: 5px;
  text-align: center;
  object-fit: cover;
  object-position: 50% 50%;
  /* padding: 10px; */
}
.partner-logo img {
  height: 100%;
  width: 100% !important;
  object-fit: contain;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
.partner-logo img:hover {
  transform: scale(1.5);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 4px 8px rgba(0, 0, 0, 0);
}
/* bootstrap  */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  /* padding-right: 15px;
  padding-left: 15px; */
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
/* .owl-carousel .item:hover {
  transition: transform 0.5s;
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  z-index: 9999;
}
.owl-carousel .item-inner-wrapper {
  position: relative;
}

.owl-carousel.owl-theme .owl-nav {
  margin-top: -90px;
}
.owl-carousel.owl-theme .owl-nav {
  margin-top: -90px;
}
.owl-item.active {
  z-index: 1;
}

.owl-item.active:hover {
  z-index: 2;
} */

/* Portfolio Section */
#portfolio {
  padding: 100px 0;
  background: url(../img/fond_website_3.jpeg) center center no-repeat;
  background-size: cover;
}
#portfolio h2 {
  color: #2e3191;
}
.portfolio-item {
  margin: 1px -15px 0 -14px;
  padding: 0;
}
.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(99, 114, 255, 0.8) 0%,
    rgba(92, 169, 251, 0.8) 100%
  );
  padding: 30% 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}
.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}
/* css update */
.ubea-heading {
  margin-bottom: 2em;
}
.ubea-card-item {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 9;
  bottom: 0;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.ubea-card-item.has-text figure {
  margin-bottom: 30px !important;
}
.ubea-card-item figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 12;
  position: relative;
}
.ubea-card-item figure .overlay {
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.ubea-card-item figure .overlay i {
  z-index: 12;
  color: #fff;
  font-size: 30px;
  position: absolute;
  margin-left: -15px;
  margin-top: -45px;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.ubea-card-item img {
  z-index: 8;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.ubea-card-item .ubea-text {
  padding: 0px 10px 10px 20px;
  text-align: center;
}
.ubea-card-item .ubea-text.text-left {
  text-align: left;
}
.ubea-card-item .ubea-text h2,
.ubea-card-item .ubea-text span {
  text-decoration: none !important;
}
.ubea-card-item .ubea-text h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 10px 0;
  color: #ff5126;
}
.ubea-card-item .ubea-text span {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 400;
}
.ubea-card-item .ubea-text p {
  color: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.ubea-card-item .ubea-text span.btn {
  color: #666666 !important;
  opacity: 1;
  visibility: visible;
  bottom: 0;
  background: #ebebeb;
  border: 2px solid #ebebeb !important;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.ubea-card-item .ubea-text .ubea-category {
  font-size: 12px;
  color: #cccccc;
}
.ubea-card-item .ubea-text .ubea-category span {
  font-size: 12px;
  color: gray;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.ubea-card-item:hover,
.ubea-card-item:focus {
  bottom: 7px;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
}
.ubea-card-item:hover img,
.ubea-card-item:focus img {
  -webkot-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.ubea-card-item:hover span.btn,
.ubea-card-item:focus span.btn {
  opacity: 1;
  visibility: visible;
  bottom: 0px;
  color: #fff !important;
  border: 2px solid #ff6540 !important;
  background: #ff6540 !important;
}
.ubea-card-item:hover figure .overlay,
.ubea-card-item:focus figure .overlay {
  opacity: 1;
  visibility: visible;
}
.ubea-card-item:hover figure .overlay i,
.ubea-card-item:focus figure .overlay i {
  margin-top: -15px;
}
.ubea-card-item:hover h2,
.ubea-card-item:hover span,
.ubea-card-item:focus h2,
.ubea-card-item:focus span {
  text-decoration: none !important;
}

.image-logo {
  height: 190px;
  object-fit: cover;
  object-position: 50% 50%;
  margin-top: 8px;
  margin-bottom: 8px;
}
.image-logo a {
  height: 100%;
  width: 100% !important;
  object-fit: contain;
}
@media only screen and (min-width: 820px) and (max-width: 1180px) {
  .image-logo {
    height: 190px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 25%;
  }
  .image-logo a {
    height: 100%;
    width: 50% !important;
    object-fit: contain;
  }
}
@media only screen and (min-width: 540px) and (max-width: 720px) {
  .image-logo {
    height: 190px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 13%;
  }
  .image-logo a {
    height: 100%;
    width: 75% !important;
    object-fit: contain;
  }
}
/* Testimonials Section */
#testimonials {
  padding: 100px 0;
  background: #f6f6f6;
}
#testimonials i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}
.testimonial {
  position: relative;
  padding: 20px;
}
.testimonial-image {
  float: left;
  margin-right: 15px;
}
.testimonial-image,
.testimonial-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}
/* Team Section */
#team {
  padding: 100px 0;
  background: #2e3191;
  color: #fff;
}
#team h4 {
  margin: 5px 0;
}
#team .team-img {
  width: 240px;
}
#team .thumbnail {
  background: transparent;
  border: 0;
}
#team .thumbnail .caption {
  padding: 10px 0 0;
  color: #888;
}
/* Team Section */
#team {
  padding: 100px 0;
  background: #2e3191;
  color: #fff;
}
#team h4 {
  margin: 5px 0;
}
#team .team-img {
  width: 240px;
}
#team .thumbnail {
  background: transparent;
  border: 0;
}
#team .thumbnail .caption {
  padding: 10px 0 0;
  color: #888;
}
/* Contact Section */
#contact {
  padding: 100px 0 60px;
  /* background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%); */
  background: #2e3191;
  color: rgba(255, 255, 255, 0.75);
  /* google map config */
  position: relative;
  z-index: 1;
}
#contact .section-title {
  margin-bottom: 40px;
}
#contact .section-title p {
  font-size: 16px;
}
#contact h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#contact .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
}
#contact h3 {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}
#contact form {
  padding-top: 20px;
}
#contact .text-danger {
  color: #cc0033;
  text-align: left;
}
#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid #fff;
}
#contact .btn-custom:hover {
  color: #1f386e;
  background: #fff;
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: "CenturyGothic", sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control:-moz-placeholder {
  color: #777;
}
.form-control::-moz-placeholder {
  color: #777;
}
.form-control:-ms-input-placeholder {
  color: #777;
}
#contact .contact-item {
  margin: 20px 0;
}

#contact .contact-item span {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  display: block;
}
#contact .contact-item i.fa {
  margin-right: 10px;
}
#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
#contact .social i.fa:hover {
  color: #608dfd;
  background: #fff;
}
.googlemaps {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}
.map {
  border-radius: 10px;
  /* border: 5px solid #fff; */
  z-index: 1;
}
/* Back to top button
---------------------------------- */
#back-top {
  position: fixed;
  z-index: 1000;
  bottom: 40px;
  right: 50px;
}
#back-top a {
  width: 60px;
  height: 60px;
  border: solid 1px #fff;
  border-radius: 50%;
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #2e3191;
  /* background color transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  background: #e8e8e8;
}
/* arrow icon (span tag) */
#back-top i {
  margin-top: 15px;
  font-size: 28px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html,
  body {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
  }
  #back-top {
    position: fixed;
    bottom: 10px;
    right: 30px;
  }
  #back-top a {
    width: 40px;
    height: 40px;
  }
  #back-top i {
    margin-top: 7px;
    font-size: 20px;
  }
}
/* Footer Section*/
#footer {
  background: #2e3191;
  /* padding: 30px 0; */
  margin-top: 30px;
}
#footer p {
  color: #fff;
  font-size: 14px;
}
#footer a {
  color: #608dfd;
}
#footer a:hover {
  border-bottom: 2px solid #608dfd;
}

/* @media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
} */
@media screen and (min-width: 481px) and (max-width: 900px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 480px) {
  html,
  body {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
  }
}
